:host {
  display: block;
}

.accordion-item {
  border-bottom: 1px solid var(--neutral-200);
}

.accordion-header {
  background: var(--base-light);
  border: none;
  width: 100%;
  padding: 1rem;
  text-align: left;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease, color 0.2s ease;
  color: var(--content);
  font-size: var(--h5);
}

.accordion-header:hover {
  background: var(--base-hover);
  color: var(--content-hover);
}

.accordion-header:focus {
  background: var(--base-focused);
  color: var(--content-focused);
}

.accordion-header:active {
  background: var(--base-active);
  color: var(--content-active);
}

.accordion-header[aria-expanded="true"] {
  background: var(--base-active);
  color: var(--content-active);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease, padding 0.2s ease;
  background-color: var(--base);
  color: var(--content);
}

.accordion-content.is-open {
  max-height: 10rem;
  /* Adjust as needed */
  padding: 1rem;
}

.accordion-item.disabled .accordion-header {
  background: var(--base-disabled);
  color: var(--content-disabled);
  cursor: not-allowed;
}

.accordion-item.disabled .accordion-content {
  display: none;
}