:host {
  display: block;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
  text-decoration: none;
  transition: 0.2s;
  flex-grow: 1;
  flex-basis: 0;
}

.card-heading {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 90%;
  letter-spacing: -1px;
  margin: 0;
}

.card.disabled {
  background-color: var(--base-disabled);
  color: var(--content-disabled);
  pointer-events: none;
}

.card:hover {
  background-color: var(--base-hover);
}

.card:focus {
  background-color: var(--base-focused);
  color: var(--content-focused);
}

.card:active {
  background-color: var(--base-active);
  color: var(--content-active);
}

.card p {
  margin: 0;
}

.card:not(:last-child) {
  border-right: 1px solid var(--content);
}