:host {
  display: inline-block;
}

.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--content);
  border-radius: 100rem;
  padding: 0.25rem 0.5rem;
  min-width: 2rem;
  min-height: 1rem;
  cursor: pointer;
  background-color: var(--base-light);
  color: var(--content);
  transition: background-color 0.3s, color 0.3s;
}

.chip:hover {
  background-color: var(--base-hover);
}

.chip:active {
  background-color: var(--base-active);
}

.chip.selected {
  background-color: var(--base-inverse);
  color: var(--content-inverse);
}

.chip-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}
